<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Home page</title>
  <link rel="shortcut icon" type="image/x-icon" th:href="@{/favicon.ico}">
  <!-- <link href="@{/styles/cssandjs/main.css}" rel="stylesheet" /> -->
</head>

<body>
  <h1>Задание 2.3.1 (Создаем полное CRUD приложение)</h1>
  <ul>
    <li>
      <a href="https://github.com/vocxod/PP231">github решения</a>
    </li>
  </ul>

  <th:block th:each="msg : ${messages}">
    <h1 th:text="${msg}"></h1>
  </th:block>
</body>

</html>
